---
import '../index.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Overused Grotesk</title>
  </head>
  <body>
    <h1 class="font-medium">Overused Grotesk</h1>
  </body>
</html>
